@charset "UTF-8";

/*#055902
#034001
#3FBF04
#558C03*/

:root {
    --cor1:#055902;
    --cor2:#034001;
    --cor3:#3fbf04;
    --cor4:#558c03;
}
* {
    margin: 0;
    padding: 0;
}
body {
    background-color:white;
    text-align: center;

}
header {
    background-color: #034001;
}
nav {
    background-color: #055902;
    color: white;

}
main {
     background-color: antiquewhite;
     margin: 10px;
     padding: 32px;
}
h1 {
    color: white;
    padding: 20px;
}
img {
    padding: 20px;
    border-radius: 10px;
    min-width: 280px;
    max-width: 80px;
    margin: auto;
}
img {
   width: 100%;
}
p {
    margin: 40px;
    padding: auto;
}
div.caixa { 
     background-color: #558c03;
     text-align: center;
     border-radius: 10px;
     padding: 5px 20px 10px 20px;
     margin: 20px;
     box-shadow: 3px 4px rgba(0, 0, 0, 0.596);
    
}
h2 {
    background-color: #055902;
    color: white;
    text-align: left;
}
div.caixa2 {
    background-color: #558c03;
    text-align: center;
    padding: 5px;
} 
aside > p {
    background-color: #558c03;
}
h3 {
    background-color: #034001;
    color: white;
    padding: 2px;
    margin: 3px;
}
footer {
    background-color: #034001;
    color: white;
    padding: 1px;
}